<div class="row mb-3 d-flex align-items-center">
  <h4>参加メンバー</h4>&emsp;
  <%= link_to event_event_members_path(event) do %>
    <span class="text-primary font-weight-bold"><%= event_members.count %>人</span>
  <% end %>
</div>
<table class='table table-borderless table-sm'>
  <tbody>
    <% event_members.each do |event_member| %>
      <tr>
        <td style="width: 65%"><%= event_member.member.name %></td>
        <% if event_member.member_id == event.member_id %>
          <td class="text-danger">ホスト</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex align-items-center">
  <p>(招待中メンバー)</hp>
</div>
<table class='table table-borderless table-sm'>
  <tbody>
    <% event_invited_members.each do |event_invited_member| %>
      <tr>
        <td style="width: 65%"><%= event_invited_member.member.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>