<div class='container p-5 px-sm-0'>
  <div class="row mr-3 mb-3">
    <h2>イベント一覧</h2>
    <div class="ml-auto">
      <%= link_to "イベントを作成", new_public_event_path, class: 'btn btn-sm btn-success' %>
    </div>
  </div>
  <div class="container">
    <div class="ml-3">
      <%= render 'public/events/index', events: @events %>
    </div>
  </div>
  <h2>自分の企画したイベント一覧</h2>
  <div class="container">
    <div class="ml-3">
      <%= render 'public/events/index', events: @events_mine %>
    </div>
  </div>
</div>