<table class='table table-bordered'>
  <thead>
    <tr>
      <th>名前</th>
      <th>居住地</th>
      <th>部屋番号</th>
    </tr>
  </thead>
  <tbody>
    <% members.each do |member| %>
      <tr>
        <td><%= link_to member.name, admin_member_path(member) %></td>
        <td><%= member.residence.name %></td>
        <td><%= member.house_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>