<table class='table table-borderless'>
  <thead>
    <tr>
      <th>名前</th>
      <% if controller.action_name == "residence_search" %>
        <% if Residence.find(params[:id]).housing_type == Residence.housing_types.key(0) %>
          <th>部屋番号</th>
        <% else %>
          <th>番地</th>
        <% end %>
      <% else %>
        <th>番地・部屋番号</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% members.each do |member| %>
      <tr>
        <td><%= link_to member.name, admin_residence_member_path(params[:residence_id], member) %></td>
        <td><%= member.house_address %></td>
      </tr>
    <% end %>
  </tbody>
</table>