<div class='container p-5 px-sm-0'>
  <div class="row mr-3 mb-3">
    <h2>予定一覧</h2>
    <div class="ml-auto">
      <%= link_to "予定を追加", new_public_plan_path, class: 'btn btn-sm btn-success' %>
    </div>
  </div>
  <div class="container">
    <div class="ml-3">
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">予定</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">過去の予定</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="section1" class="tab-pane fade show active">
            <%= render 'public/plans/index', plans: @plans %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render 'public/plans/index', plans: @plans_past %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>