<div class='container p-5 px-sm-0'>
  <div class="row mr-3 mb-3">
    <h2>掲示板一覧</h2>
    <div class="ml-auto">
      <%= link_to "掲示板に新しく投稿", new_public_board_path, class: 'btn btn-sm btn-success' %>
    </div>
  </div>
  <div class="container">
    <div class="ml-3">
        <%= render 'public/boards/index', boards: @boards, reads: @reads %>
    </div>
  </div>
  <h2>あなたの掲示板一覧</h2>
  <div class="container">
    <div class="ml-3">
        <%= render 'public/boards/index', boards: @boards_mine, reads: @reads %>
    </div>
  </div>
</div>