<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>イベント新規作成</h2>
      </div>
      <%= render 'admin/events/form', event: @event, path: admin_events_path, residence: @residence %>
    </div>
  </div>
</div>