<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>居住地登録内容変更</h2>
      </div>
      <div>
        <%= render 'admin/residences/form', residence: @residence, path: admin_residence_path(@residence) %>
      </div>
      <div class="text-center">
        <%= form_with url: admin_residence_confirm_path, method: :get, local:true do |f| %>
        <%= f.hidden_field :id, :value => @residence.id %>
        <%= f.submit "居住地を削除する", class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>