<div class='container p-5 px-sm-0'>
  <div class='col-md-10 offset-md-1'>
    <div class="row ml-5 mb-3">
      <h2>回覧メンバー編集</h2>
      <div class="ml-3">
        <div id="all_add">
          <%= render 'public/circular_members/all_add', board: @board, residence_members: @residence_members %>
        </div>
      </div>
    </div>
    <div class="ml-5 mb-3">
      <div id="add">
        <%= render 'public/circular_members/add', board: @board, residence_members: @residence_members %>
      </div>
      <div class="text-right">
        <%= link_to "掲示板詳細へ", public_board_path(@board) %>
      </div>
    </div>
  </div>
</div>