<div class='container p-5 px-sm-0'>
  <div class="mb-3">
    <h2>検索</h2>
    <div class="ml-3">
      <%= render 'public/searches/form' %>
    </div>
    <div class="mb-3">
      <h2>検索結果</h2>
    </div>
    <div class="ml-3">
      <%= render 'public/searches/search',
        boards: @boards,
        reads: @reads,
        communities: @communities,
        events: @events,
        exchanges: @exchanges,
        lost_items: @lost_items,
        equipments: @equipments,
        facilities: @facilities,
        members: @members
      %>
    </div>
  </div>
</div>