<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class="col-3">
      <%= render 'layouts/residence_search', residences: @residences %>
    </div>
    <div class='col-md-9'>
      <div class="row mb-3">
        <h2>ゆずりあい一覧</h2>
      </div>
      <div class="container">
        <div class="tabs">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#section1">募集中</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#section2">募集終了</a>
            </li>
          </ul>

          <div class="tab-content">
            <div id="section1" class="tab-pane fade show active">
              <%= render 'admin/exchanges/index', exchanges: @exchanges %>
            </div>
            <div id="section2" class="tab-pane fade">
              <%= render 'admin/exchanges/index', exchanges: @exchanges_finished %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>