<table class='table table-borderless table-hover'>
  <thead>
    <tr>
      <th style="15%">画像</th>
      <th style="25%">名前</th>
      <% if current_member.residence.housing_type == Residence.housing_types.key(0) %>
        <th style="25%">部屋番号</th>
      <% else %>
        <th style="25%">番地</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% members.each do |member| %>
      <% if member.email != "guest@example.com" %>
        <tr>
          <td><%= image_tag member.get_profile_image, width: "50px" %></td>
          <% if member.id == current_member.id %>
            <td class="align-middle"><%= link_to member.name, public_member_information_path %></td>
          <% else %>
            <td class="align-middle"><%= member.name %></td>
          <% end %>
          <td class="align-middle"><%= member.house_address %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>