<div class='container p-5 px-sm-0'>
    <div class='col-md-10 offset-md-1'>

      <div class="row ml-5 mb-3">
        <h2>イベント参加メンバー</h2>
      </div>
      <div class="ml-5 mb-3">
        <table class='table table-borderless'>
          <% @event_members.each do |event_member| %>
            <tr>
              <td style="width:30%"><%= event_member.member.name %></td>
              <% if event_member.member_id == @event.member_id %>
                <td class="text-danger">ホスト</td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="row ml-5 mt-5 mb-3">
        <h4>(招待可能メンバー)</h4>
        <div class="ml-3">
          <div id="all_invite">
            <%= render 'admin/event_members/all_invite', event: @event, residence_members: @residence_members %>
          </div>
        </div>
      </div>
      <div class="ml-5 mb-3">
        <div id="invite">
          <%= render 'admin/event_members/invite', event: @event, residence_members: @residence_members %>
        </div>
        <div class="text-right">
          <%= link_to "イベント詳細へ", admin_event_path(@event) %>
        </div>
      </div>
    </div>
</div>