<table class="table table-borderless table-sm">
  <tr>
    <th style="width: 20%">居住地切り替え</th>
    <% residences.each do |residence| %>
      <td style="width: 25%">
        <%= link_to residence_search_admin_boards_path(residence), :style => "color:black" do %>
          <i class="fa-solid fa-building"></i> <%= residence.name %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>