<table class='table table-borderless'>
  <thead>
    <tr>
      <th>コミュニティ名</th>
      <th>作成者</th>
      <th>説明</th>
      <th>メンバー数</th>
    </tr>
  </thead>
  <tbody>
    <% communities.each do |community| %>
      <tr>
        <td><%= link_to community.name, public_community_path(community) %></td>
        <% if community.member.present? %>
          <td><%= community.member.name %></td>
        <% else %>
          <td>退会済み会員</td>
        <% end %>
        <td><%= community.description %></td>
        <td><%= community.community_members.count %> 人</td>
      </tr>
    <% end %>
  </tbody>
</table>