<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>コミュニティ編集</h2>
      </div>
      <%= render 'public/communities/form', community: @community, path: community_path %>
    </div>
  </div>
</div>