<div class='container p-5 px-sm-0'>
  <div class='col-md-12'>
    <div class="row mr-3 mb-3">
      <h2>コミュニティ一覧</h2>
      <div class="ml-auto">
        <%= link_to "新しいコミュニティを作る", new_public_community_path, class: 'btn btn-sm btn-success' %>
      </div>
    </div>
    <div class="ml-3">
      <%= render 'public/communities/index', communities: @communities %>
    </div>
    <div class="mb-3">
      <h2>参加中のコミュニティ一覧</h2>
    </div>
    <div class="ml-3">
      <%= render 'public/communities/index', communities: @communities_mine %>
    </div>
  </div>
</div>