<table class='table table-bordered'>
  <thead>
    <tr>
      <th>予約</th>
      <th>日程</th>
    </tr>
  </thead>
  <tbody>
    <% reservations.each do |reservation| %>
      <tr>
        <% if reservation.equipment_id.present? %>
          <td><%= link_to reservation.equipment.name, public_reservation_path(reservation) %></td>
        <% elsif reservation.facility_id.present? %>
          <td><%= link_to reservation.facility.name, public_reservation_path(reservation) %></td>
        <% end %>
        <td><%= l reservation.started_at %> ~ <%= l reservation.finished_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>