<div class='container p-5 px-sm-0'>
  <div class='col-md-12'>
    <div class="row mr-3 mb-3">
      <h2>予約一覧</h2>
      <div class="ml-auto">
        <%= link_to "予約する",public_reservations_select_path, class: 'btn btn-sm btn-success' %>
      </div>
    </div>
    <div class="ml-3">
      <div class="tabs">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#section1">あなたの予約</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section2">未来の予約</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#section3">過去の予約</a>
          </li>
        </ul>

        <div class="tab-content">
          <div id="section1" class="tab-pane fade show active">
            <%= render 'public/reservations/index', reservations: @reservations_mine %>
          </div>
          <div id="section2" class="tab-pane fade">
            <%= render 'public/reservations/index', reservations: @reservations %>
          </div>
          <div id="section3" class="tab-pane fade">
            <%= render 'public/reservations/index', reservations: @reservations_past %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>