<div class='container p-5 px-sm-0'>
  <div class='col-md-12'>
    <div class="row mr-3 mb-3">
      <h2>予約一覧</h2>
      <div class="ml-auto">
        <%= link_to "予約する",public_reservations_select_path, class: 'btn btn-sm btn-success' %>
      </div>
    </div>
    <div class="ml-3">
      <%= render 'public/reservations/index', reservations: @reservations_mine %>
    </div>
  </div>
</div>