<div class='container p-5 px-sm-0'>
  <div class='col-md-12'>
    <div class="row mr-3 mb-3">
      <h2>備品一覧</h2>
    </div>
    <div class="ml-3">
      <%= render 'public/equipments/index', equipments: @equipments %>
    </div>
    <div class="mb-3">
      <h2>設備一覧</h2>
    </div>
    <div class="ml-3">
      <%= render 'public/facilities/index', facilities: @facilities %>
    </div>
  </div>
</div>