<table class='table table-borderless'>
  <thead>
    <tr>
      <th>品名</th>
      <th>拾った場所</th>
      <th>拾った日時</th>
      <th>掲載状況</th>
    </tr>
  </thead>
  <tbody>
    <% lost_items.each do |lost_item| %>
      <tr>
        <td><%= link_to lost_item.name, admin_residence_lost_item_path(params[:residence_id], lost_item) %></td>
        <td><%= lost_item.picked_up_location %></td>
        <td><%= l lost_item.picked_up_at %></td>
        <% if lost_item.is_finished == false %>
          <td class="text-success">掲載中</td>
        <% else %>
          <td class="text-secondary">掲載終了</td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>