<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>落とし物新規登録</h2>
      </div>
      <%= render 'admin/lost_items/form', lost_item: @lost_item, path: admin_residence_lost_items_path(params[:residence_id]), residence: @residence %>
    </div>
  </div>
</div>