<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class="col-3">
      <%= render 'layouts/residence_search', residences: @residences %>
    </div>
    <div class='col-md-9'>
      <div class="ml-5 mb-3">
        <h2><%= @residence.name %>の落とし物一覧</h2>
      </div>
      <div class="container">
        <div class="row">
          <div class="offset-1">
            <%= render 'admin/lost_items/index', lost_items: @lost_items %>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>