<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <div class="ml-5 mb-3">
        <h2>設備登録内容</h2>
      </div>
      <%= render 'admin/facilities/form', facility: @facility, path: admin_facility_path(@facility), residence: @residence, genres: @genres %>
    </div>
  </div>
</div>