<div class='container p-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-12'>
      <div class="row mr-3">
        <h2>設備一覧</h2>
        <div class="ml-auto">
          <%= form_with model: Facility, url: new_admin_residence_facility_path(params[:residence_id]), method: :get, local: true do |f| %>
            <%= f.hidden_field :residence_id, :value => params[:residence_id] %>
            <%= f.submit "新規登録", class: 'btn btn-sm btn-success' %>
          <% end %>
        </div>
      </div>
      <div class="container">
        <div>
          <%= render 'admin/facilities/index', facilities: @facilities %>
        </div>
      </div>
    </div>
  </div>
</div>