/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header, body, footer {
  font-family: "Meiryo", "メイリオ", sans-serif;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: 20;
  background-color: #eaf4fc;
}

body{
  background-color: #f5f5dc;
  padding-top: 160px;
}

main{
  overflow: hidden;
}

footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.logo{
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}

.header_nav{
  position: fixed;
  top: 95px;
  left: 0;
  width: 100%;
}

.navbar-toggler{
  transform: translate(-10%, 0);
}

.profile_image {
  border-radius: 25px;
}

.top{
  position: relative;
}

.top_image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% 70%;
  filter: blur(10px);
}

.top_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  filter: drop-shadow(5px 5px 3px rgba(20,20,20,0.6));
}

.btn-success {
  color: #f5f5f5;
  background-color: #69b076;
  border-color: #a6c8b2;
}

.btn-danger {
  color: #f5f5f5;
  background-color: #e95464;
  border-color: #e7609e;
}

.btn-primary {
  color: #f5f5f5;
  background-color: #00a3af;
  border-color: #38b48b;
}

.table-hover tbody tr{
  background-color: #f5f5dc;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all  0.3s ease;
}

.table-hover tbody tr:hover{
  background-color: #fffff0;
}

.nav-tabs .nav-item{
  background-color: #b2c4ed;
  border-radius: 10px 10px 0 0;
  margin-right: 5px;
}

.nav-tabs .nav-link{
  color: #191970;
}

.nav-tabs .nav-link.active{
  background-color: #8e8eff;
  color: #f5f5f5;
  border-radius: 10px 10px 0 0;
}

.comment_box{
  padding: 20px 10px;
  max-width: 90%;
  margin: 15px auto;
  text-align: right;
  font-size: 14px;
}

.comment_group{
  width: 100%;
  margin: 10px 0;
  overflow: hidden;
}

.comment_group .comment_mine{
  float: right;
  text-align: right;
}

.comment_mine{
  position: relative;
}

.my_comment_body{
  display: inline-block;
  position: relative;
  margin: 0 10px 0 0;
  padding: 8px;
  max-width: 80%;
  border-radius: 12px;
  background: #c1e4e9;
  font-size: 15px;
  color: #485859;
}

.my_comment_body:after{
  content: "";
  position: absolute;
  top: 3px;
  right: -19px;
  border: 8px solid transparent;
  border-left: 18px solid #c1e4e9;
  -webkit-transform: rotate(-35deg);
  transform: rotate(-35deg);
}

.comment_mine .comment_info{
  float: right;
  width: 100%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.comment_group .comment_others{
  float: left;
  text-align: left;
}

.comment_others{
  position: relative;
}

.comment_body{
  display: inline-block;
  position: relative;
  margin: 0 0 0 10px;
  padding: 8px;
  max-width: 80%;
  border-radius: 12px;
  background: #dbd0e6;
  color: #696969;
}

.comment_body:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -19px;
  border: 8px solid transparent;
  border-right: 18px solid #dbd0e6;
  -webkit-transform: rotate(35deg);
  transform: rotate(35deg);
}

.comment_others .comment_info{
  float: left;
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.comment_info_body{
  padding-top: 5px;
  color: #778899;
}

.comment_body_deleted{
  padding: 0 10px;
  border-radius: 12px;
  background-color: #a9a9a9;
  color: #fffafa;
}