<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false" class="text-danger">
    <ul style="list-style: none;">
      <% resource.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
