<% if obj.errors.any? %>
  <div id="error_explanation" class="text-danger">
    <ul style="list-style: none;">
      <% obj.errors.full_messages.each do |message| %>
        <li>・<%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>