<table class="table table-borderless table-sm">
    <tr><th style="width: 20%">居住地切り替え</th></tr>
    <% residences.each do |residence| %>
      <tr><td>
        <%= link_to my_link_to(residence.id), :style => "color:black" do %>
          <i class="fa-solid fa-building"></i> <%= residence.name %>
        <% end %>
      </td></tr>
    <% end %>
</table>